<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cs.springcloud.admin.server.mapper.BaseDeptUserMapper">

    <resultMap type="com.cs.springcloud.admin.api.model.BaseDeptUser" id="baseDeptUserMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="deptCode" column="dept_code"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

</mapper>