package ${package}.rest;

import com.cs.devops.common.rest.BaseController;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import io.swagger.annotations.Api;

import ${package}.biz.${className}Biz;
import ${package}.model.${className};

/**
 * ${className} ${comments}.
 *
 * @author ${author}
 * @version 1.0
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${secondModuleName}s")
@Api(tags = "${comments}")
public class ${className}Controller extends BaseController<${className}Biz,${className}> {

}