package ${package}.model;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;

import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import java.io.Serializable;
import java.time.LocalDateTime;

/**
 * ${className} ${comments}.
 *
 * @author ${author}
 * @version 1.0
 * @date ${datetime}
 */
@Getter
@Setter
@TableName("${tableName}")
@ApiModel("${comments}")
public class ${className} implements Serializable{
private static final long serialVersionUID=1L;

#foreach ($column in $columns)
    #if($column.columnName == $pk.columnName)

    /**
     * $column.comments
     */
    @TableId
    @ApiModelProperty("${column.comments}")
    private $column.attrType $column.attrNameMin;

    #else

    /**
     * $column.comments
     */
    @ApiModelProperty("${column.comments}")
    @TableField("$column.columnName")
    private $column.attrType $column.attrNameMin;
    #end
#end
}