package ${package}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${package}.model.${className};

/**
 * ${className} ${comments}.
 *
 * @author ${author}
 * @version 1.0
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {

}
